/* sets general formatting for the entire page */
html, body
{
	margin: 0px;
	border:0px;
	padding: 0px;
	height: 100%;
	background-image:('images/background.png');
	font-family: verdana;
	text-align:justify;
}
/* creates a header for the web page*/
#header{
    border-style:solid;
    border-width:4px;
    border-color:#359BBD;
    padding:10px;
    margin:5px;
    margin-left:25px;
    background-color:#ECF9F8;
    width:90%;
    
}
/* creates date for the web page */
label {
    display: inline-block;
    font:
      2rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }
/* sets date prompt */
  p {
    display: block;
    font:
      .5rem 'Fira Sans',
      sans-serif;
  }


/* creates generic div for alignment purposes */
div.posts {
    display:inline-block;
    width:auto;
}


/* creates format for image to change on hover */
.logo {
   background-image: url('/images/ty3TechLtdsml.png');
   background-repeat: no-repeat;
   height: 125px;
   width: 311px;
   margin-left:25px;   
}

.logo:hover {
     background-image: url('/images/ty3v8bw_sml.png');
}
/*


/* creates holder for ty3 tech image */
#ty3techimg {
    background-image: url('/images/ty3tech.PNG');
   background-repeat: no-repeat;
   height: auto;
   width: auto;
   display:inline-block;
    
}

/* creates horizontal drop down menu */
.menu{
    border-style:none;
    padding:10px;
    margin-left:10px;
    float:left;
}    
    .nav ul {list-style:none; margin:0; padding:0}
    .nav li {float:left; width:135px; background-color:#359BBD; text-align:center;
         border-right:1px solid white; position:relative;
         height:30px; line-height:30px;}
.nav li ul li {float:none; width:150px; text-align:left; padding-left:5px;
         border-top:1px solid white;}
.nav a {text-decoration:none; color:white;}
.nav li ul {position:absolute; top:30px; left:0; visibility:hidden;}
.nav li:hover ul {visibility:visible;}

.nav li:hover {background-color:#C5CCEB;}

/* creates content container for pages*/
.content{
    
    border-style:none;
    border-width:1px;
    border-color:#359BBD;
    padding:10px;
    margin:5px;
    margin-left:5px;
    background-color:#ECF9F8;
    width:100%;
}


/* creates format for vertical menu bar 
Code snippet via http://www.c-sharpcorner.com/ */
#divMenu, ul, li, li li {
    margin: 0;
    padding: 0;
}
 
#divMenu {
    width: 150px;
    height: 27px;
}
 
#divMenu ul
{
     line-height: 25px;
}
 
    #divMenu li {
        list-style: none;
        position: relative;
        background: #359BBD;
    }
 
        #divMenu li li {
            list-style: none;
            position: relative;
            background: #359BBD;
            left: 148px;
            top: -27px;
        }
 
 
    #divMenu ul li a {
        width: 148px;
        height: 25px;
        display: block;
        text-decoration: none;
        text-align: center;
        font-family: Georgia,'Times New Roman',serif;
        color:#ffffff;
        border:1px solid #eee;
    }
 
    #divMenu ul ul {
        position: absolute;
        visibility: hidden;
        top: 27px;
    }
 
    #divMenu ul li:hover ul {
        visibility: visible;
    }
 
    #divMenu li:hover {
        background-color: #C5CCEB;
    }
 
    #divMenu ul li:hover ul li a:hover {
        background-color: #C5CCEB;
    }
 
    #divMenu a:hover {
        font-weight: bold;
    }

/* creates format for digital clock */
.clockStyle { 
        background-color:#000; 
        border:#999 2px inset;
        padding:6px;
        color:#0FF;
        font-family:"Arial Black", Gadget, sans-serif;
        font-size:16px;
        font-weight:bold;
        letter-spacing: 2px;
        float:right;
        width:auto;
} 

#welc {
  color:#359BBD;
}
    
    
    